<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header');-%>
    <body>
        <%-include('layouts/navbar');-%>
        <h1><%= blogpost.title %></h1>
        <h2 class="subheading"><%= blogpost.body %></h2>
        <span class="meta">
            Posted by
            <a href="#!"><%= blogpost.userid.username %></a>
            <%=blogpost.createdAt  %>
        </span>
    
        <!-- Footer-->
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
    </body>
</html>
